@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body{
font-family: "Space Grotesk", sans-serif;
background-color: #15181F;
color: white;
}

.box{
	@apply px-[24px] py-[16px]
}

.container-box {
	@apply p-[16px]
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
